/* HEADERS */
h1 { float: left; font-size: 30px; padding: 5px; padding-left: 10px; }
/* hide h2 headers */
h2 { margin-bottom: 5px; padding: 5px; font-weight: bold}

#header { background: url("../images/li_dev_header_bg.png") repeat-x 0% 100%; width: auto; border-bottom: 1px solid #CCC; height: 39px; margin: 10px auto 15px; }
#header-texture { background: none; font-size: 250%; left: 0px; padding: 0px; top: -8px; position: relative; width: 836px; display: block; }
#subheader { overflow: hidden; width: 100%; }

#wrapper { margin: 0 10px; min-width: 840px; }

/* TOOLTIPS */
.show-tooltip-text { display: none; position: absolute; font-size: 0.9em; padding: 6px; padding-left: 12px; padding-right: 12px; }

/* WRAPPER */
#main { font-size: 120%; margin: 10px 0; overflow: hidden; }

/* SHARE */
#tiny-url-container { float: right; }

/* CONTAINER */
#container-wrapper { float: left; width: 71%; }
#container {  background: #efefef; overflow: hidden; padding: 10px; }

/* CONSOLE / EDITOR AREA */
#console-container { overflow: hidden; width: 100%; }
#console-container textarea { border: 1px solid #adadad; height: 300px; margin-bottom: 10px; width: 99.5%; }
#console-container .CodeMirror-wrapping { background: #fff; border: 1px solid #adadad; margin-bottom: 10px; }

/* BUTTONS */
#button-container { float: left; }

/* RESULT */
#result-container { border: 1px dashed #adadad; margin-top: 10px; overflow: hidden; position: relative; }
#sandbox { font-size: 130%; height: 300px; padding: 10px; background: #fff; margin: 5px; border: 1px solid #adadad;}
#sandbox iframe { background: transparent; border: 0; height: 100%; width: 100%; }
#iconbox { height: 40px; overflow: hidden; }
#icons { float: right;  margin: 5px; }
#icons li { cursor: pointer; float: left; margin: 2px; padding: 4px 0; position: relative; }
#icons span.ui-icon { float: left; margin: 0 4px; }

/* SIDEBAR */
#sidebar { float: left; width: 28%; margin-right: 1%; }
/* override some of the form properties for usability */
#framework-form .standard-form { margin: 0; }
#framework-form .standard-form ul { padding: 0; }
#framework-form .standard-form label.inline { float: left; width: auto; }
#examples .category { font-size: 14px; font-weight: bold; }
#examples ul { list-style: none; margin: 0; padding: 0; }
#examples ul ul { list-style: circle; margin-left: 24px; }
#examples ul ul.no-bullet { list-style: none; }
.example-group { display: none; }
#example-url { border: 1px solid #adadad; padding: 0.2em; }
/* resizable textarea handle */
#api-options { height:80px; width:190px; }
.ui-resizable-se { bottom: 16px; right: 5px; }

/* MESSAGES */
/* message containers */
#error-container { display: none; float: right; }
.ui-state-error,
.ui-state-highlight { padding: 0 0.7em; }
.ui-state-error p,
.ui-state-highlight p { margin: .5em 0; }
.ui-icon-alert,
.ui-icon-check { float: left; margin-right: 0.3em; }
/* noscript alert message, hide if JS enabled */
.js .noscript { display: none; }
/* success message override */
.ui-state-success { background: #e5f7dd none; border: 1px solid #ccc; padding: 0.7em; }
