/* HEADERS */
h1 { float: left; font-size: 30px; padding: 5px; padding-left: 10px; }
/* hide h2 headers */
h2 { margin-bottom: 5px; padding: 5px; font-weight: bold}

#header { width:100%; border-bottom: 1px solid #CCC; margin-bottom:15px; overflow:hidden; }
#header .logo{margin:6px 10px 6px 3px;float:left;width:92px;display:block;}
#header .logo a{background:url('http://static02.linkedin.com/scds/common/u/img/sprite/sprite_global_v5.png') no-repeat;display:block;height:22px;text-indent:0; text-decoration:none;}
#header .logo a span { display:block; font-weight:normal; color:#333; font-size:20px; line-height:22px; margin:-21px 0 0 100px;  }
#header .logo a span.seo-hidden { text-indent:-12345px; margin:0; }

#subheader { overflow: hidden; width: 100%; }

/* WRAPPER */
#wrapper { margin: 0 10px; min-width: 840px; }

#main { font-size: 120%; margin: 10px 0; overflow: hidden; }

/* STATUS */
#status { float: right; overflow: hidden; }
#tiny-url-container { float: left; min-width: 320px; }
#framework-status { cursor: default; float: left; margin-right: 10px; }

/* CONTAINER */
#container-wrapper { float: left; width: 71%; }
#container {  background: #efefef; overflow: hidden; padding: 10px; }

/* CONSOLE / EDITOR AREA */
#console-container { overflow: hidden; width: 100%; }
#console-container textarea { border: 1px solid #adadad; font-family: monospace; font-size: 10pt; height: 300px; margin-bottom: 10px; width: 99.5%; }
#console-container .CodeMirror-wrapping { background: #fff; border: 1px solid #adadad; margin-bottom: 10px; }

/* BUTTONS */
#button-container { float: left; }

/* RESULT */
#result-container { border: 1px dashed #adadad; margin-top: 10px; overflow: hidden; position: relative; }
#sandbox { background: #fff; border: 1px solid #adadad; font-size: 130%; height: 300px; margin: 5px; padding: 10px; }
#sandbox iframe { background: transparent; border: 0; height: 100%; width: 100%; }
#iconbox { height: 40px; overflow: hidden; }
#icons { float: right;  margin: 5px; }
#icons li { cursor: pointer; float: left; margin: 2px; padding: 4px 0; position: relative; }
#icons span.ui-icon { float: left; margin: 0 4px; }

/* SIDEBAR */
#sidebar { float: left; margin-right: 1%; width: 28%; }
/* override some of the form properties for usability */
#framework ul li { overflow:hidden; }
#framework-form .standard-form { margin: 0; }
#framework-form .standard-form ul { padding: 0; }
#framework-form .standard-form label.inline { float: left; width: auto; }
#examples .category { font-size: 14px; font-weight: bold; }
#examples ul { list-style: none; margin: 0; padding: 0; }
#examples ul ul { list-style: circle; margin-left: 24px; }
#examples ul ul.no-bullet { list-style: none; }
.example-group { display: none; }
.example-group li { border: 1px solid #fff; }
.example-group .ui-state-highlight { padding: 0; }
#example-url { border: 1px solid #adadad; padding: 0.2em; }
/* resizable textarea handle */
#api-options { height: 80px; width: 190px; }
.ui-resizable-se { bottom: 16px; right: 5px; }

/* MESSAGES */
/* message containers */
#error-container { display: none; float: right; }
.ui-state-error,
.ui-state-highlight { padding: 0 0.7em; }
.ui-state-error p,
.ui-state-highlight p { margin: .5em 0; }
.ui-icon-alert,
.ui-icon-check,
.ui-icon-info { float: left; margin-right: 0.3em; }
/* noscript alert message, hide if JS enabled */
.js .noscript { display: none; }
/* success message override */
.ui-state-success { background: #e5f7dd none; border: 1px solid #ccc; padding: 0.7em; }

/* TOOLTIP */
.qtip-content { font-size: 11px; }

/* FULL CODE VIEW */
#codeview textarea { font-family: monospace; font-size: 10pt; height: 350px; width: 768px; }
#codeview { display: none; }